/*
We're using `calc` a lot to calculate geometry on the fly--
Check out https://developer.mozilla.org/en-US/docs/Web/CSS/calc for more.
*/

html, body {
	height: 100%;
	margin: 0;
}

body {
	overflow: hidden;
	min-width: 960px;
}

header, footer {
	background-color: #333;

	height: 64px;

	line-height: 64px; /* By making the line-height as tall as the header, we vertically center the text */

	color: #EEE;
	font-family: 'Jolly Lodger', cursive;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.35em;

	width: 100%;
}


main {
	min-width: 960px;
	height: calc(100% - 2*64px);
	background-color: white;
}
p{
	font-family: 'Lily Script One', cursive;


}
#content {
	height: 100%;
	min-width: 960px;
	position: relative;
}

video {
	position: absolute;
	top: calc(1.5 * 4% + 23.3% - (180px / 2));
	left: calc(50% - 320px / 2);
	height: 180px;
	width: 320px;
}

#detail {
	background-color: #AAA;
	padding-left: 0px 0px 0px 12px;
	overflow: auto;
	position: absolute;
	height: 33%;
	top: calc(100% - 33% - 12%);
	left: calc(50% - 320px / 2 - 128px * 1.5);
	right: calc(50% - 320px / 2 - 128px * 1.5);
}

/* Clever trick to make a triangle with CSS:
http://apps.eky.hk/css-triangle-generator/ and
http://codepen.io/chriscoyier/pen/lotjh */
#next-triangle {
	position: absolute;

	width: 0;
	height: 0;

	border-left: 61px solid transparent;
	border-right: 61px solid transparent;
	border-top: 30.75px solid black;

	left: calc(50% - 61px);
	top: calc(100% - (7.525% + 30.75px)/2);

	font-size: 0;

	line-height: 0;
}

#next-triangle:hover {
	border-top: 30.75px solid #555;
}

.waypoint{
	border-radius: 50%;

}
.waypoint:hover{
	box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

#waypoint-0, #waypoint-1, #waypoint-2, #waypoint-3,
#waypoint-4, #waypoint-5, #waypoint-6,
#waypoint-7, #waypoint-8, #waypoint-9,
{border-radius: 50%;}
#waypoint-1:hover, #waypoint-2:hover, #waypoint-3:hover,
#waypoint-4:hover, #waypoint-5:hover, #waypoint-6:hover,
#waypoint-7:hover, #waypoint-8:hover, #waypoint-9:hover {
	background-color: gray;
	transition: 1000ms ease;
	-webkit-transition: 1000ms ease;
	font-size: 100%;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}

/* DETAIL PANELS */

aside {
	width: 170px;
	height: 23.3%;
	position: absolute;
}

.right {
	right: calc(50% - 320px / 2 - 128px * 1.5);
	background-color: #555;
	overflow: hidden;
}

.left {
	left: calc(50% - 320px / 2 - 128px * 1.5);
	background-color: #CCC;
}

.top {
	top: 4%; /*(100 - 23.3*3)/4%*/
}

.bottom {
	top: calc(4% * 2 + 23.3%);
}

#show1{
	background-color: white;
	color: white;
	font-size: 200%;
	background-size: cover;
	background-clip: border-box;
}
#show2{
	background-color: white;
	background-size: cover;
	background-clip: border-box;
	
}
#show3{
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
}
#show4{
	background-color: white;
	background-size: cover;
	background-clip: border-box;
}
#detail{
	display: none;
}


#show1:hover {
	background-color: gray;
	transition: 1000ms ease;
	-webkit-transition: 1000ms ease;

	/* Rotate only 10 degrees so that the effect of translate is more obvious */
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
}

/* NAVBAR */
nav {
	float: right;
	width: 50.688px;
	height: 100%;
	left: calc(100% - 32px * 1.5);
}

nav ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 100%;
	width: 100%;
}

nav ol li {
	width: 100%;
	height: 10%;
	background-color: black;
	padding: 0;
	margin: 0;
	font-family: 'Jolly Lodger', cursive;
}

.active-waypoint{
	background-color: red;
	box-shadow: 0px 0px 20px rgba(255,10,50,0.8);
	border-radius: 50%;
}

.active-waypoint:hover{
-webkit-transition-duration: 350ms;
-moz-transition-duration: 350ms;
transition-duration: 350ms;
-webkit-transition-duration: 350ms;
-moz-transition-duration: 350ms;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}

li div .label {
color: blue;
display: block;
position: relative;
top: 1px;
left:-60px;
padding-right: -30px;
opacity: 0;
-webkit-transition-property: color, opacity;
-moz-transition-property: color, opacity;
transition-property: color, opacity;
-webkit-transition-duration: 350ms;
-moz-transition-duration: 350ms;
transition-duration: 350ms;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
}

li:hover .label{
	opacity: 1;
}

li div {
	background-color: #FFF;

	position: relative;
	top: 19px;

	width: 16px;
	height: 16px;

	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;		
}